<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<!--目前預設語系 Zh_Tw or En_Us-->
		<add key="Language" value="En_Us" />
		<!--多語Source資料路徑 (Ex路徑\Language)-->
		<add key="LanguageSourcePath" value="Language" />
	</appSettings>
</configuration>